body {
  text-align: center;
}

.container {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

button {
  border: 3px solid rgb(94, 66, 219);
  border-radius: 5px;
  background-color: blueviolet;
  color: white;
  cursor: pointer;
  font-size: 20px;
  width: 200px;
}
button:hover {
  background-color: rgb(49, 49, 165);
}
